.footer {
	background: #FFF;
	border-radius: 30px 30px 0 0;
	color: #000000;
	padding-top: 69px;
	padding-bottom: 24px;
}

.footer__row {
	display: flex;
	justify-content: space-between;
}
.footer__title {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 66px;
}

.footer__description {
	font-size: 20px;
	line-height: 27px;
	opacity: 0.5;
}
.contacts-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}
.contacts-list__item {
	margin-bottom: 20px;
}

.contacts-list__link {
	font-size: 22px;
	line-height: 30px;
	color: #000000;
	/* font-family: ; */
}

.contacts-list__link:hover {
	color: #1BFF07;
}
.footer__processing-policy {
	font-size: 20px;
	line-height: 27px;
	color: #000000;
	text-align: right;
	opacity: 0.5;
}
@media (max-width: 1199px) {
	.footer {
		padding-top: 51px;
		padding-bottom: 41px;
	}
	.footer__title {
		font-size: 16px;
		line-height: 22px;	
		margin-bottom: 43px;
	}
	.footer__description {
		font-size: 14px;
		line-height: 19px;
	}
	.contacts-list {
		gap: 14px;
		margin-bottom: 38px;
	}
	.contacts-list__link {
		font-size: 16px;
		line-height: 22px;
	}
	.footer__processing-policy {
		font-size: 14px;
		line-height: 19px;
	}
}
@media (max-width: 767px) {
	.footer {
		padding-top: 47px;
		padding-bottom: 34px;
	}
	.footer__row {
		flex-direction: column;
		align-items: start;
	}
	.footer__title {
		max-width: 267px;
		font-size: 15px;
		line-height: 20px;	
		margin-bottom: 20px;
	}
	
	.footer__processing-policy {
		text-align: left;
	}
}	