.header {
	background: url('../resources/Main\ image.jpg') center center / cover
		no-repeat;
	background-position-y: 20%;
	height: 765px;
	padding-top: 27px;
	margin-bottom: 150px;
}

.header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 252px;
}

.navigation {
	display: flex;
	gap: 50px;
}

.navigation__link {
	font-size: 18px;
	line-height: 23px;
	color: #ffffff;
	margin-bottom: 19px;
}

.navigation__link:hover {
	color: #b007ff;
	transition: 0.5s;
}

.header__description {
	font-size: 20px;
	line-height: 26px;
	max-width: 430px;
	margin-bottom: 29px;
	background-color: rgb(0, 0, 0, 0.4);
}

.header__title {
	max-width: 951px;
	font-size: 80px;
	line-height: 70px;
	color: #b007ff;
}

@media (max-width: 1199px) {
	.header__navigation {
		margin-bottom: 290px;
	}

	.navigation {
		display: none;
	}

	.header__description {
		font-size: 20px;
		line-height: 26px;
		max-width: 430px;
	}

	.header__title {
		max-width: 951px;
		font-size: 60px;
		line-height: 70px;
	}
}

@media (max-width: 767px) {
	.header__navigation {
		margin-bottom: 260px;
	}

	.header {
		background-image: url('../resources/Mobile\ Main\ image.jpg');
		background-position-y: inherit;
		height: 716px;
		margin-bottom: 100px;
	}

	.navigation {
		display: none;
	}

	.header__description {
		font-size: 15px;
		line-height: 20px;
		max-width: 310px;
		margin-bottom: 10px;
	}

	.header__title {
		max-width: 951px;
		font-size: 40px;
		line-height: 47px;
	}
}
