.section-title.services-section__title {
	font-size: 35px;
	line-height: 46px;
	font-weight: 400;
	max-width: 419px;
	margin-bottom: 80px;
}

.service {
	margin-bottom: 40px;
}

/* Нужно это заменить или исправить! */
.service:nth-child(2) {
	/* margin-bottom: 38px; */
}

.service__image {
	max-width: 100%;
	border-radius: 24px;
}

.service__info {
	background: #191C19;
	border-radius: 30px;
	display: flex;
	padding: 40px 47px 60px 40px;
	justify-content: space-between;
	gap: 60px;
}

/* Тоже нужно исправить */
.service__info_wide {
	padding: 40px 47px 44px 40px;
}

.service__name {
	font-size: 55px;
	line-height: 61px;
	color: #B007FF;
	margin-bottom: 15px;
}

.service__description {
	font-size: 22px;
	line-height: 29px;
	max-width: 488px;
	margin-right: 41px;
	height: 183px;
}

@media (max-width: 1199px) {
	.services-section {
		margin-bottom: 123px;
	}

	.section-title.services-section__title {
		font-size: 28px;
		line-height: 37px;
		max-width: 419px;
		margin-bottom: 60px;
	}

	.service__image {
		width: 100%;
		object-fit: cover;
		height: 162px;
	}

	.service__info {
		padding: 32px 38px 4px 32px;
		width: 100%;
		/* justify-content: space-between; */
		gap: 40px;
	}

	.service__name {
		font-size: 45px;
		line-height: 110%;
		margin-bottom: 15px;
		max-width: 590px;
	}

	.service__description {
		font-size: 18px;
		line-height: 23px;
		max-width: 425px;
		margin-right: 0px;
		max-height: 183px;
	}
}

@media (max-width: 767px) {
	.container.flex-container {
		padding-left: 15px !important;
	}

	.services-section {
		margin-bottom: 97px;
	}

	.service {
		margin-bottom: 63px;
	}

	.service__image {
		height: 225px;
	}

	.service__image_small {
		height: 162px;
	}

	.service__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 22px 0 22px;
		width: 100%;
		/* justify-content: space-between; */
		gap: 15px;
	}

	.service__name {
		font-size: 35px;
		line-height: 110%;
		width: 100%;
		margin-bottom: 0px;
	}

	.service__description {
		width: 100%;
		margin-bottom: 90px;
	}

	.service__description_second {
		margin-bottom: 38px;
	}
}